body{
    padding: 0;
    bottom: 0;
    margin: 0;
    background-color: rgb(67, 68, 74);
}
hr{
    color: rgb(81, 255, 197);
}
h1{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    color: rgb(255, 255, 255); 
    font-size: 35px;   
}
h2{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}
li,p{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    color: rgb(188, 208, 255);
}
header{
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    padding:10px;
    background-color: rgb(51, 49, 95);
    margin: 0px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
#img1{
    margin-left: auto;
    margin-right: 30px;
}
.produto{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 60px;
}
#div1{
    margin-left: 20px;
}
#div2{
    margin-left: 50px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}
a:hover{
    font-size: 20px;
    color: rgb(169, 169, 255);
    text-decoration: none;
    
}
footer{
    bottom: 0;
    
    background-color: rgb(174, 212, 255);
    width: 100%;
    height: 30px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
}