h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'cafeM', sans-serif;
    color: rgb(216, 216, 221);
}
img{
    margin-left: 35px;
    margin-top: 130px;
    border-radius: 100px;
    box-shadow: 0px 4px 20px rgba(93, 97, 124, 0.6);
    
}
#imagens{
    display: flex;
    justify-content:center;
}
body {
    background: linear-gradient(to right, #1b1e27, #2b3443);
}
h3{
    margin-left: 100px;
    font-size: 25px;
    color: rgb(216, 216, 221);
    font-family: 'cafeM', sans-serif;
}
img:hover{
    width: 213px;
    height: 213px;
    border-radius: 110px;
    transition: 0.1s ease;
}
